body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
.player{
    position: relative;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.wrapper{
    position: relative;
    overflow: hidden;
    background: #bdbdbd;
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.track-art
{
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow:0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius: 190px;
}
.now-playing{
    font-size: 1rem;
}
.track-name{
    font-size: 2.5rem;
}
.track-artist{
    margin-top: 5px;
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.active{
    color: black;
}
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track{
    padding: 15px;
    opacity: 0.8;
    transition: opacity .2s;
}
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
opacity: 1.0;
color: white;
}
.slider_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seek_slider,
.volume_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;
    -webkit-transition: .2s ;
    transition: opacity .2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover{
    opacity: 1.0;
}
.seek_slider{
    width: 60%;
}
.volume_slider{
    width: 30%;
}
.current-time,
.total-duration{
padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up{
padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-backward,
i.fa-step-forward{
    cursor: pointer;
}
.randomActive{
    color: white;
}
.rotate{
    animation: rotation 8s infinite linear;
}
@keyframes rotation{
from{
    transform: rotate(0deg);
}
to{
    transform: rotate(359deg);
}
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#play-list-button{
    padding: 0;
    margin: 0;
}
#list-title{
margin: 0;
}
#list-music-name{
margin: 0;
}
.playlist-container{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,rgb(24, 24, 24),rgb(51, 51, 51));
    z-index: +1;
    border-radius: 20px;
}
@keyframes playlist {
    0%{
top: 1000;
    }
    100%{
top: 0;
    }
}
.playlist{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
    border: rgb(83, 83, 83) solid 1px;
    border-radius: 20px;
    position: relative;
}
#list-image{
    width: 100%;
}
.playlist-info{
    min-width: 200px;
    margin: 20px;
}
#list-title{
color:rgb(150, 150, 150);
}
#list-music-name{
    color: rgb(150, 150, 150);
}
#timer{
    color: rgb(150, 150, 150);
}
.music-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -60%;
    opacity: 0;
    pointer-events: none;
    background: #242323;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
    border-radius: 20px;
    transition: all .3s ease;
}
.music-list.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}
.header{
    position: relative;
}
.header .row{
    margin: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    color: #515c6f;
}
.header .row i{
    cursor: default;
}
.header .row span{
    margin-left: 5px;
}
.header #close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    color: #515c6f;
}
.music-list ul{
    padding: 20px;
    margin-top: 10px 0;
    max-height: 260px;
    overflow: auto;
}
.music-list ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: #515c6f;
    border-bottom: 1px solid #515c6f;
}
.music-list ul li:last-child{
    border-bottom: 0px;
}
.music-list ul li .row span{
    font-size: 17px;
}
.music-list ul li .row p{
    opacity: 0.6;
}
ul li .audio-duration{
    margin-left: 100px;
    font-size: 16px;   
}
.music-list ul::-webkit-scrollbar{
    width: 0px;
}
.music-list ul li:hover{
    color: rgb(177, 197, 0);
}
.header #close:hover{
    color: rgb(177, 197, 0);
}